body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  margin: 0;
  padding: 2rem;
}
#progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 25px;
  margin-top: 15px;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.3s ease;
}

#progress-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.difficulty-screen {
  display: none;
}
